# MAC
.DS_Store

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules

# workspace
.vscode/
.idea/
.swc
.turbo


# build output
/lib/
packages/*/lib/
packages/*/esm/
packages/*/umd/

test/packages/*/lib/
test/packages/*/esm/
test/packages/*/umd/

test/fixtures/**/dist/
test/fixtures/**/.shuvi/
examples/**/.shuvi
examples/**/dist
