# MAC
.DS_Store

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules

# workspace
.vscode/
.idea/
.history/


# build output
/lib/
packages/*/lib/
packages/*/esm/

test/packages/*/lib/
test/packages/*/esm/

test/fixtures/**/dist/
test/fixtures/**/.shuvi/
examples/**/.shuvi
examples/**/dist
