@import "./css/vars";
@import "./css/test.wxss";
$base-color: #c6538c;
$border-dark: rgba($base-color, 0.88);

@mixin corner-icon($name, $top-or-bottom, $left-or-right) {
  .icon-#{$name} {
    position:absolute;
    #{$top-or-bottom}: 0;
    #{$left-or-right}: 0;
}

}

page {
  width: '100%';
  height: '100%';
  display: flex;
  flex-direction: column;
}

.test-rpx{
  width: 750px;
  .other{
    height: 375PX;
  }
}

@include corner-icon("mail", top, left);

.alert {
  color: $black;
  border: 1px solid $border-dark;
}

html{
  background: red;
}

.name {
  cursor: crosshair;
}
