.container {
  color: #000;
  background: #fff;
  fontfamily: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Fira Sans",
    Avenir, "Helvetica Neue", "Lucida Grande", sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorCode {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  padding-right: 20px;
  margin-right: 20px;
  font-size: 24px;
  font-weight: 500;
}

.errorDesc {
  font-size: 16px;
  line-height: 1;
}
